<div class="jumbotron text-center">
	<h1><i class="fa fa-comments-o"></i><br />Contact Us</h1>
	<p>{{ message }}</p>
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Aliquam elit nulla, blandit eget pharetra nec, sodales sed lorem.</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elit nulla, blandit eget pharetra nec, sodales sed lorem. Nulla eu elit id lectus blandit semper id sed elit. Quisque bibendum justo eget arcu fringilla, efficitur condimentum quam posuere. Curabitur et consectetur risus. Curabitur venenatis, turpis rutrum viverra consequat, mauris velit viverra augue, in fermentum sapien lacus nec orci. Phasellus in tempus turpis.
  </div>
</div>
</div>