<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><strong>Movie Category</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="tile purple" ng-click="subCategory('Comedy')">
                <h3 class="title">Comedy</h3>
                <p>Click here to view list of comedy movies</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tile red" ng-click="subCategory('Horror')">
                <h3 class="title">  Horror</h3>
                <p>Click here to view list of horror movies</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tile orange" ng-click="subCategory('Drama')">
                <h3 class="title">Drama</h3>
                <p>Click here to view list of drama movies</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tile green" ng-click="subCategory('Action')">
                <h3 class="title">Action</h3>
                <p>Click here to view list of action movies</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="tile blue" ng-click="subCategory('Thriller')">
                <h3 class="title">Thriller</h3>
                <p>Click here to view list of thriller movies</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tile purple" ng-click="subCategory('Adventure')">
                <h3 class="title">Adventure</h3>
                <p>Click here to view list of adventure movies</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tile red" ng-click="subCategory('Animation')">
                <h3 class="title">Animation</h3>
                <p>Click here to view list of animation movies</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tile orange" ng-click="subCategory('Family')">
                <h3 class="title">Family</h3>
                <p>Click here to view list of family movies</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="tile green" ng-click="subCategory('Fantasy')">
                <h3 class="title">Fantasy</h3>
                <p>Click here to view list of fantasy movies</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tile blue" ng-click="subCategory('Sport')">
                <h3 class="title">Sport</h3>
                <p>Click here to view list of Sport movies</p>
            </div>
        </div>

    </div>
</div>